*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
.container{
    min-height: 200px;
    min-width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #080808;
    padding: 15px;
    flex-direction: column;
    gap: 20px;
    display: flex;
    margin: 50px;
    border: 1px solid rgb(61, 99, 99);
    /* background-color: whitesmoke; */
}
/* h2{
    color: whitesmoke;
} */
img{
    border-radius: 10%;
}
.todoheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deletebutton{
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(26, 25, 25);
    color: aqua;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.controlBTN{
    padding: 7px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgb(202, 196, 196);
    color: rgb(59, 56, 56);
}
.lightDark{
    border: 2px solid gold;
}
.lightDark:hover{
    background-color: rgb(107, 92, 8);
}
.clearBTN{
    color: rgb(241, 3, 3);
    background-color: rgb(250, 213, 213);
    border: none;
}
.clearBTN:hover{
    background-color: rgb(241, 3, 3);
    color: rgb(250, 213, 213);
}
.editInput{
    padding: 5px;
    border: 1px solid #00e5ff;
    background-color: #d6c9c9;
    color: black;
}
.taskinput{
    justify-content: space-between;
    display: flex;
}
.addBTN, .allBtn{
    color: rgb(0, 209, 178);
    border: 1px solid rgb(0, 209, 178);
    background-color: rgba(0, 209, 178, 0.2);
}
 .allBtn:hover{
    color: black;
    background-color: rgb(0, 209, 178);
}
.addBTN:hover{
   color: black;
    background-color: rgb(0, 209, 178);
}
.inputEl{
    padding: 5px;
    width: 90%;
    outline: 1px solid rgba(0, 209, 178, 0.2);
    border-radius: 10px;

}
.inputEl:focus{
    box-shadow: 0 0 10px #00e5ff,
    0 0 20px #00e5ff;
    transition: 0.3s ease;
}
.leftside{
    display: flex;
    align-items: center;
    gap: 10px;
}
.taskparent{
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(223, 220, 220);
    min-height: 100px;
    color: black;
}
.taskleftside{
    display: flex;
    align-items: center;
    gap: 10px;
}
.taskrightside{
   display: flex;
   gap: 15px;
}
.taskchild{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.taskchild:hover{
    background-color: rgb(163, 159, 159);
}
.done{
    text-decoration: line-through;
    color: rgb(150, 146, 146);
}
.tab2, .tab3, .tab1{
    display: none;
}
.tabbBtn{
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}
.taskfooter{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.showTab {
    display: block !important;
}
.dark{
    background-color: black;
    color: white;
}
@media (mix-width: 640px) {
            .container {
                max-width: 300px;
                margin: 100px;
            }
        }
@media (max-width: 1195px) {
    .todoheader {
       flex-direction: column;
       gap: 5px;
    }
}
@media (max-width: 466px) {
     .taskfooter {
        flex-direction: column;
     }
}
@media (max-width: 579px) {
    .container {
        border: none;
        min-height: 200px;
        min-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: none;
    }
}